<html>
      <head>
            <title>URL shortener</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      </head>

      <body>

      <form class="form-horizontal" action="/" method="post">
            <fieldset>

                  <!-- Form Name -->
                  <legend>URL Shortener</legend>

                  <!-- Prepended text-->
                  <div class="form-group">
                        <label class="col-md-4 control-label" for="link">Link</label>
                        <div class="col-md-8">
                              <div class="input-group">
                                    <span class="input-group-addon">http://</span>
                                    <input id="link" name="link" class="form-control" placeholder="subdomain.domain.extension/path1/path2:port" type="text" required="">
                              </div><br/>
{{/*                              <p class="help-block">Help</p>*/}}
                        </div>
                  </div>

                  <!-- Prepended text-->
                  <div class="form-group">
                        <label class="col-md-4 control-label" for="expiry">Expiry</label>
                        <div class="col-md-4">
                              <div class="input-group">
                                    <span class="input-group-addon">seconds</span>
                                    <input id="expiry" name="expiry" class="form-control" placeholder="number" type="text">
                              </div><br/>
{{/*                              <p class="help-block">Help</p>*/}}
                        </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Custom name</label>
                        <div class="col-md-6">
                              <input id="name" name="name" type="text" placeholder="trim-link.herokuapp.com/myname" class="form-control input-md">
{{/*                              <span class="help-block">Help</span>*/}}
                              <p id="existstext"></p>
                        </div><br/>
                  </div>

                  <input type="submit"/>

            </fieldset>
      </form>


      <br/><br/>

      <a href="/all">See all shortened links yet</a>

      <script>
            $(document).ready(function() {


                  $("#name").keyup(function () {

                        var name = $("#name").val()

                        $.get("/search?q=" + name, function (data, status) {

                           //   alert(data + status)


                              switch (data) {
                                    case 'dne':

                                          $("#existstext").css("color", "green")
                                          $("#existstext").text("Name available")
                                            //alert(data)
                                          break

                                    case 'e':
                                          $("#existstext").css("color", "red")
                                          $("#existstext").text("Sorry name exists. Please choose another")
                                           // alert(data)

                                          break

                                    default:
                                          $("#existstext").css("color", "blue")
                                          $("#existstext").text("Keep typing, we are checking if name exists")
                                          break
                              }


                        });

                        // $("input").css("background-color", "pink");
                  });
            });
      </script>

      </body>
</html>